@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap");
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  color: #010101;
}

.web-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar-language {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  width: 56px;
  height: 100vh;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px;
  overflow: scroll;
  scrollbar-width: none;
  box-sizing: border-box;
  background-color: #2d2f34;
}
.sidebar-language a {
  padding: 7px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-language a svg {
  height: 22px;
  width: 22px;
  fill: #ffffff;
}
.sidebar-language a svg path {
  opacity: 1;
  fill-opacity: 1;
  stroke-opacity: 1;
}
.sidebar-language .selected-option {
  background: #0556f3;
}

.editor-wrapper,
.output-wrapper {
  width: calc(50% - 1px - 28px);
  float: left;
  background: #1c2130;
}

.editor-wrapper {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.editor-wrapper .editor-top-bar {
  color: #fff;
  background: #2d2f34;
  display: flex;
  justify-content: space-between;
  height: 48px;
}
.editor-wrapper .editor-top-bar .file-name {
  display: inline-flex;
  align-items: center;
  line-height: 24px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  background: #1c2130;
  color: #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.editor-wrapper .editor-top-bar .btn-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.editor-wrapper .editor-top-bar .btn-wrapper .run-button {
  cursor: pointer;
  display: flex;
  min-width: 67px;
  min-height: 32px;
  justify-content: center;
  padding: 6px 16px;
  background: #0556f3;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 2px;
  z-index: 109;
  font-weight: bold;
  margin: 0 20px 0 16px;
}
.editor-wrapper #editor {
  position: relative;
  overflow: hidden;
  padding: 0;
  direction: ltr;
  text-align: left;
  background: #1c2130;
}
.editor-wrapper #editor .ace_gutter {
  background: #1c2130;
}
.editor-wrapper #editor .ace_scrollbar {
  display: none;
}

.output-wrapper {
  display: block;
  position: relative;
}
.output-wrapper .output-top-bar {
  display: flex;
  justify-content: space-between;
  background: #2d2f34;
  color: #ffffff;
  height: 48px;
}
.output-wrapper .output-top-bar .shell-name {
  color: #ffffff;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 500;
  line-height: 24px;
  padding: 11px 18px;
  font-size: 16px;
}
.output-wrapper .output-top-bar .btn-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.output-wrapper .output-top-bar .btn-wrapper .clear-button {
  cursor: pointer;
  padding: 6px 16px;
  background: none;
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
  outline: none;
  margin: 0 20px 0 16px;
  border: 1px solid #d3dce6;
  border-radius: 2px;
  color: #fff;
}
.output-wrapper #terminal {
  position: relative;
  overflow: hidden;
  padding: 0;
  direction: ltr;
  text-align: left;
  background: #1c2130;
  color: #eeeeee;
}
.output-wrapper #terminal .ace_cursor {
  color: white;
}
.output-wrapper #terminal .ace_selection {
  background: rgba(255, 255, 255, 0.2);
}
